requests
openai
python-dotenv
qdrant_client
neo4j
scikit-learn
numpy
jieba
spacy
# python -m spacy download zh_core_web_sm
# python -m spacy download en_core_web_sm


sentence-transformers
dashscope
qdrant-client>=1.6.0
neo4j>=5.0.0
markitdown
gradio
markitdown[pdf]